

body{background-color:black;}

#speed_guage{

  position: absolute;
  margin-top: 200px;
  margin-left: 190px;
}

#speed_display{
  color:#e60000;
  font-size: 120px;
  font-weight: 900;
  /* padding-bottom: 15px;
  padding-right: 10px; */
  text-shadow: 2px 2px 6px #b70e0e6d;
  margin-top: -10px;
  margin-left: -55px;
  position: absolute;
}





/* #display{
  color: white;
    font-size: 50px;
    font-family: 'Contrail One', cursive;
    margin-left:85px;
    border-style: solid;
    border-color:#e3e3e3;
    position: absolute;
    margin-top: 475px;
    margin-left: 190px;
    
} */
